In [ ]:
# update lamindb and bionty...

In [4]:
! lamin load scprint
# ! lamin migrate deploy

→ connected lamindb: jkobject/scprint

# we will check it works and reset the bionty sources

In [5]:
import lamindb as ln
import bionty as bt
from scdataloader.utils import populate_my_ontology
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
len(ln.Artifact.filter())

937

In [6]:
bt.base.reset_sources()

In [6]:
bt.core.sync_all_sources_to_latest()

! please reload your instance to reflect the updates!

# load them in my personnal ontology

In [7]:
names = bt.CellType.public().df()
names

,name,definition,synonyms,parents
ontology_id,,,,
CL:0000000,cell,A Material Entity Of Anatomical Origin (Part O...,None,[]
CL:0000001,primary cultured cell,A Cultured Cell That Is Freshly Isolated From ...,primary cell culture cell|unpassaged cultured ...,[CL:0000010]
CL:0000002,obsolete immortal cell line cell,Obsolete: A Cell Line Cell That Is Expected To...,permanent cell line cell|continuous cell line ...,[]
CL:0000003,obsolete native cell,Obsolete. A Cell That Is Found In A Natural Se...,None,[]
CL:0000004,obsolete cell by organism,Obsolete: A Classification Of Cells By The Org...,None,[]
...,...,...,...,...
CL:4042007,protoplasmic astrocyte,"An Astrocyte With Highly Branched Protrusions,...",None,"[CL:0000029, CL:0002605, CL:0010012]"
CL:4042008,fibrous astrocyte,A Cell Type Located In The First Layer Of The ...,None,"[CL:0000029, CL:2000029, CL:0000127]"
CL:4042009,interlaminar astrocyte,An Astrocyte Type That Presents Radial Protrus...,None,"[CL:0000029, CL:0002605, CL:0010012]"
CL:4042010,pial interlaminar astrocyte,An Interlaminar Astrocyte Whose Soma Is Part O...,None,[CL:4042009]
CL:4042011,subpial interlaminar astrocyte,An Interlaminar Astrocyte Type Whose Soma Is P...,None,[CL:4042009]

In [48]:
populate_my_ontology(organisms=["NCBITaxon:9544", "NCBITaxon:9483", "NCBITaxon:10090", "NCBITaxon:9606"])

→ returning existing Organism record with same name: 'unknown'

In [4]:
bt.DevelopmentalStage.filter().df()

,uid,name,ontology_id,abbr,synonyms,description,source_id,run_id,created_by_id,updated_at
id,,,,,,,,,,
1,6QgHNi0H,42-year-old human stage,HsapDv:0000136,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 10:22:33.945048+00:00
2,fEzwReEA,53-year-old human stage,HsapDv:0000147,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 10:22:33.945198+00:00
3,2nEVCZzo,80-year-old human stage,HsapDv:0000206,None,None,Aged Stage That Refers To An Adult Who Is Over...,44,None,1,2023-11-22 10:22:33.945342+00:00
4,77LZiXev,71-year-old human stage,HsapDv:0000165,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:10:48.439710+00:00
5,2iDmILg8,50-year-old human stage,HsapDv:0000144,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:10:48.439860+00:00
...,...,...,...,...,...,...,...,...,...,...
677,447iQEAH,2-4 year-old child stage,HsapDv:0000270,None,None,Child Stage That Refers To A Child Who Is Over...,100,None,1,2024-09-09 14:54:06.875029+00:00
678,2XEDd26s,juvenile stage (5-14 yo),HsapDv:0000271,None,None,Pediatric Stage That Refers To A Human Who Is ...,100,None,1,2024-09-09 14:54:06.875164+00:00
679,JlT91ezY,60-79 year-old stage,HsapDv:0000272,None,None,Late Adult Stage That Refers To An Adult Who I...,100,None,1,2024-09-09 14:54:06.875290+00:00
680,4RKFKLPE,1-month-old stage,HsapDv:0000273,None,None,Infant Stage That Refers To An Infant Who Is O...,100,None,1,2024-09-09 14:54:06.875417+00:00
681,7PwM9y8d,postnatal stage,HsapDv:0010000,None,None,Human Developmental Stage That Covers The Whol...,100,None,1,2024-09-09 14:54:06.875545+00:00

In [3]:
df = bt.DevelopmentalStage.filter().df()
df[df.name=="unknown"]

,uid,name,ontology_id,abbr,synonyms,description,source_id,run_id,created_by_id,updated_at
id,,,,,,,,,,
32,5HWRj1OD,unknown,unknown,None,None,None,44,None,1,2024-09-09 10:53:28.565897+00:00

In [ ]:
bt.DevelopmentalStage.filter(id=355).delete()

# load the latest datasets / load datasets that were initially dropped

In [78]:
bt.DevelopmentalStage.filter().df().head(20)

,uid,name,ontology_id,abbr,synonyms,description,source_id,run_id,created_by_id,updated_at
id,,,,,,,,,,
1,6QgHNi0H,42-year-old human stage,HsapDv:0000136,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 10:22:33.945048+00:00
2,fEzwReEA,53-year-old human stage,HsapDv:0000147,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 10:22:33.945198+00:00
3,2nEVCZzo,80-year-old human stage,HsapDv:0000206,None,None,Aged Stage That Refers To An Adult Who Is Over...,44,None,1,2023-11-22 10:22:33.945342+00:00
4,77LZiXev,71-year-old human stage,HsapDv:0000165,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:10:48.439710+00:00
5,2iDmILg8,50-year-old human stage,HsapDv:0000144,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:10:48.439860+00:00
6,3mvZclbG,60-year-old human stage,HsapDv:0000154,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:10:48.439989+00:00
7,6GYcyAiA,80 year-old and over human stage,HsapDv:0000095,None,None,Aged Stage That Refers To An Adult Who Is Over...,44,None,1,2023-11-22 11:10:48.440112+00:00
8,2YPivzq5,77-year-old human stage,HsapDv:0000171,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:10:48.440233+00:00
9,3MeD86pe,82-year-old human stage,HsapDv:0000208,None,None,Aged Stage That Refers To An Adult Who Is Over...,44,None,1,2023-11-22 11:10:48.440354+00:00
10,5KlIAuyM,87-year-old human stage,HsapDv:0000213,None,None,Aged Stage That Refers To An Adult Who Is Over...,44,None,1,2023-11-22 11:10:48.440474+00:00
11,3p5M36ez,72-year-old human stage,HsapDv:0000166,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:10:48.440595+00:00
12,3i4SGvgA,45-year-old human stage,HsapDv:0000139,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:11:34.327789+00:00
13,glnFPgeh,68-year-old human stage,HsapDv:0000162,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.327912+00:00
14,3J3fzFpO,51-year-old human stage,HsapDv:0000145,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:11:34.328016+00:00
15,5lwKjZ3t,43-year-old human stage,HsapDv:0000137,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.328114+00:00
16,4BUoLKl0,41-year-old human stage,HsapDv:0000135,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.328215+00:00
17,4pPeImFY,55-year-old human stage,HsapDv:0000149,None,None,Middle Aged Stage That Refers To An Adult Who ...,44,None,1,2023-11-22 11:11:34.328314+00:00
18,7dWnm4CL,27-year-old human stage,HsapDv:0000121,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.328413+00:00
19,5q64GXx1,69-year-old human stage,HsapDv:0000163,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.328514+00:00
20,5rviPulP,74-year-old human stage,HsapDv:0000168,None,None,Adult Stage That Refers To An Adult Who Is Ove...,44,None,1,2023-11-22 11:11:34.328612+00:00

In [5]:
bt.DevelopmentalStage.public().df().loc["HsapDv:0000144"].parents

array(['HsapDv:0000000', 'HsapDv:0000240', 'HsapDv:0000267',
       'HsapDv:0000226', 'HsapDv:0000258', 'HsapDv:0010000',
       'HsapDv:0000001'], dtype=object)

In [10]:
bt.DevelopmentalStage.filter(ontology_id="HsapDv:0000144").one().view_parents()#.df(include=["parents"])

In [9]:
bt.DevelopmentalStage.import_from_source()