# gene location comp

In [2]:
from scprint.tokenizers import protein_embeddings_generator
from scprint.utils.get_seq import load_fasta_species
%reload_ext autoreload
%autoreload 2

from scprint.utils.utils import run_command
import pandas as pd
from Bio import SeqIO

â†’ connected lamindb: jkobject/scprint2

In [3]:
names = {
    #"homo_sapiens": "NCBITaxon:9606",
    "mus_musculus": "NCBITaxon:10090",
    "arabidopsis_thaliana": "NCBITaxon:3702",
    "bos_taurus": "NCBITaxon:9913",
    "caenorhabditis_elegans": "NCBITaxon:6239",
    "callithrix_jacchus": "NCBITaxon:9483",
    "danio_rerio": "NCBITaxon:7955",
    "drosophila_melanogaster": "NCBITaxon:7227",
    "gallus_gallus": "NCBITaxon:9031",
    "heterocephalus_glaber_male": "NCBITaxon:10181",
    "macaca_mulatta": "NCBITaxon:9544",
    "oryctolagus_cuniculus": "NCBITaxon:9986",
    #"oryza_sativa": "NCBITaxon:39947",
    "ovis_aries": "NCBITaxon:9940",
    "pan_troglodytes": "NCBITaxon:9598",
    "sus_scrofa": "NCBITaxon:9823",
    "zea_mays": "NCBITaxon:4577"
}

In [6]:
def get_locs(file):
    locs= []
    dup = set()
    noloc = 0
    for record in SeqIO.parse(file[:-3], "fasta"):
        name = record.description.split(' gene:')[1].split(' ')[0].split('.')[0]
        if "chromosome:" in record.description:
            val = record.description.split(' chromosome:')[1].split(' ')[0]
            ref, chrom, start, end, _ = val.split(':')
        elif "primary_assembly" in record.description:
            val = record.description.split(' primary_assembly:')[1].split(' ')[0]
            ref, chrom, start, end, _ = val.split(':')
        else:
            noloc += 1
            continue
        if name in dup:
            continue
        dup.add(name)
        locs.append([name, chrom, start, end])
    print(len(dup), " genes had duplicates")
    print(noloc, " genes had no location")
    df = pd.DataFrame(locs, columns=['name', 'chrom', 'start', 'end'])
    df = df.astype({'start': 'int32', 'end': 'int32'})
    df = df.sort_values(by=['chrom', 'start']).reset_index(drop=True)
    return df

# test on humans

In [4]:
file = load_fasta_species(species="homo_sapiens", load=["cdna"])

In [5]:
file = file[0]
fname = file.split("/")[-1]
run_command(["gunzip", file])

gzip: /tmp/data/fasta/Homo_sapiens.GRCh38.cdna.all.fa already exists;	not overwritten

2

In [ ]:
df = get_locs(file)

In [9]:
import os
os.makedirs("../data/main/gene_locs", exist_ok=True)

In [13]:
df.set_index("name").to_parquet("../data/main/gene_locs/homo.parquet")

In [7]:
for species in names.keys():
    file = load_fasta_species(species=species, load=["cdna"])
    file = file[0]
    fname = file.split("/")[-1]
    run_command(["gunzip", file])
    df = get_locs(file)
    df.set_index("name").to_parquet(f"../data/main/gene_locs/{species.split('_')[0]}.parquet")

gzip: /tmp/data/fasta/Mus_musculus.GRCm39.cdna.all.fa already exists;	not overwritten

35937  genes had duplicates
54  genes had no location

gzip: /tmp/data/fasta/Arabidopsis_thaliana.TAIR10.cdna.all.fa already exists;	not overwritten

27655  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Bos_taurus.ARS-UCD1.2.cdna.all.fa already exists;	not overwritten

22372  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Caenorhabditis_elegans.WBcel235.cdna.all.fa already exists;	not overwritten

22113  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Callithrix_jacchus.mCalJac1.pat.X.cdna.all.fa already exists;	not overwritten

23373  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Danio_rerio.GRCz11.cdna.all.fa already exists;	not overwritten

30302  genes had duplicates
428  genes had no location

gzip: /tmp/data/fasta/Drosophila_melanogaster.BDGP6.32.cdna.all.fa already exists;	not overwritten

14310  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.cdna.all.fa already exists;	not overwritten

17068  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Heterocephalus_glaber_male.Naked_mole-rat_paternal.cdna.all.fa already exists;	not overwritten

24687  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Macaca_mulatta.Mmul_10.cdna.all.fa already exists;	not overwritten

22528  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Oryctolagus_cuniculus.OryCun2.0.cdna.all.fa already exists;	not overwritten

15523  genes had duplicates
10474  genes had no location

gzip: /tmp/data/fasta/Ovis_aries.Oar_v3.1.cdna.all.fa already exists;	not overwritten

20440  genes had duplicates
788  genes had no location

gzip: /tmp/data/fasta/Pan_troglodytes.Pan_tro_3.0.cdna.all.fa already exists;	not overwritten

22505  genes had duplicates
2393  genes had no location

gzip: /tmp/data/fasta/Sus_scrofa.Sscrofa11.1.cdna.all.fa already exists;	not overwritten

22516  genes had duplicates
0  genes had no location

gzip: /tmp/data/fasta/Zea_mays.Zm-B73-REFERENCE-NAM-5.0.cdna.all.fa already exists;	not overwritten

39035  genes had duplicates
748  genes had no location

In [ ]:
get_locs("/tmp/data/fasta/Bos_taurus.ARS-UCD1.2.cdna.all.fa.gz")

In [29]:
list(names.keys())[2]

'bos_taurus'

In [13]:
pd.read_parquet(f"../data/main/gene_locs/{list(names.keys())[0].split('_')[0]}.parquet")

                   chrom     start       end
name
ENSMUSG00000051951     1   3276124   3286567
ENSMUSG00000102851     1   3322980   3323459
ENSMUSG00000103147     1   3602018   3602943
ENSMUSG00000025900     1   4069780   4479464
ENSMUSG00000102948     1   4326457   4330742
...                  ...       ...       ...
ENSMUSG00000100246     Y  90010986  90011680
ENSMUSG00000096178     Y  90412517  90444532
ENSMUSG00000100964     Y  90510316  90542914
ENSMUSG00000095134     Y  90764326  90774754
ENSMUSG00000099871     Y  90848682  90855309

[35937 rows x 3 columns]

In [15]:
ls ../data/main/gene_locs/

arabidopsis.parquet     gallus.parquet          ovis.parquet
bos.parquet             heterocephalus.parquet  pan.parquet
caenorhabditis.parquet  homo.parquet            sus.parquet
callithrix.parquet      macaca.parquet          zea.parquet
danio.parquet           mus.parquet
drosophila.parquet      oryctolagus.parquet

In [5]:
import glob

# Get all parquet files in the directory
parquet_files = glob.glob("../data/main/gene_locs/*.parquet")

# Read all files and add a column with the filename (without path and extension)
import os

dfs = []
for f in parquet_files:
    df = pd.read_parquet(f)
    # Add a column with the filename (without extension)
    df["filename"] = os.path.splitext(os.path.basename(f))[0]
    dfs.append(df)

# Concatenate all dataframes
locs = pd.concat(dfs)

In [7]:
locs

                   chrom      start        end filename
name
ENSMUSG00000051951     1    3276124    3286567      mus
ENSMUSG00000102851     1    3322980    3323459      mus
ENSMUSG00000103147     1    3602018    3602943      mus
ENSMUSG00000025900     1    4069780    4479464      mus
ENSMUSG00000102948     1    4326457    4330742      mus
...                  ...        ...        ...      ...
ENSOARG00000002575     X  133931633  133935348     ovis
ENSOARG00000002583     X  134413131  134415171     ovis
ENSOARG00000002599     X  134630071  134677540     ovis
ENSOARG00000010238     X  134842697  134843194     ovis
ENSOARG00000010260     X  135115101  135116249     ovis

[396054 rows x 4 columns]

In [22]:
prevname = ""
c = []
for _, r in locs.iterrows():
    if r["filename"] != prevname:
        prev_position = -100000
        prev_chromosome = None
        gene_position_tolerance = 10_000 if r['filename'] not in ['drosophila', 'caenorhabditis', 'arabidopsis'] else 2_000
        i = 0
    if r["chrom"] != prev_chromosome:
        i+=100
    if r["start"] - prev_position > gene_position_tolerance:
        i += 1
    c.append(i)
    prev_position = r["start"]
    prev_chromosome = r["chrom"]
    prevname = r["filename"]
locs["pos"] = c
for i in locs["filename"].unique():
    # print reduced per filename
    print(i)
    l = locs[locs["filename"] == i]
    print(len(set(l["pos"])) / len(l))

mus
0.8145365500737402
zea
0.6519277571410272
heterocephalus
0.8497184753108924
drosophila
0.6994409503843466
macaca
0.8736683238636364
pan
0.8767829371250833
callithrix
0.8828562871689556
bos
0.862238512426247
gallus
0.7230489805483946
oryctolagus
0.8861044901114475
danio
0.801498250940532
caenorhabditis
0.7014425903314793
arabidopsis
0.762285301030555
sus
0.8676940842067863
homo
0.797114037545531
ovis
0.8772504892367906

In [25]:
locs.to_parquet("../data/main/gene_locs/all_locs.parquet")